
.debug{
    border: 1px solid red;
}

body {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    }
a {
    width: 400px;
    border: 10px solid white;
    height: 4rem;
    background-color:black;
    text-align: center;
    padding: 25px;        
    color:white;
    line-height: 4rem;
            
    transition-property: background-color color;
        
    transition-duration: 1s;
    transition-delay: 0.4s;
    
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;        
}
a:hover {
    border: 10px solid black;
    background-color: white;
    color: black;
    transform: translateX(150px);
    width: 500px;
    padding: 50px;
    
    
}
   